body {
    margin: 0;
    padding-top: 5rem;
}

/* ENCABEZADO Y NAVEGADOR */

.menu {
      display: none;  
}
.cabecera {
    background: rgb(244, 244, 244);
    text-emphasis-color: rgb(160, 160, 160);
    color: rgb(39, 39, 39);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    position: fixed; /*para que se quede fija*/
    left: 0;
    top: 0;
    width: 100%;
}
.cabecera ul {
    margin-top: 0;
    padding: 0;
    float: right;
}
    .cabecera ul li {
    display: inline-block;
    padding: 1rem;
	margin-top: 30px;
    }
        .cabecera ul li a {
            display: block;
            padding: 0.5rem;
            color: rgb(98, 98, 98);
            list-style: none;
            text-decoration: none;
            /* para que aparezca poco a poco */
            transition: all 0.3s linear;
        }
            .cabecera ul li a:hover {
                background-color: rgb(91, 91, 91);
                color: aliceblue;
                border-radius: 10px;
            }
.logo_cabecera {
    width: 200px;
}

/* DE AQUÍ HACIA ABAJO VA LO PRINCIPAL*/

.principal {
    align-items: center;
    text-align: justify;
    margin: 5%;
	margin-left: 12%;
	width: 55%;
}
table {
	margin: 15px;
	margin-left: 35%;
	padding: 15px;
	border-collapse: collapse;
	background: rgb(244, 244, 244);
	border: #666666 5px solid;
	align-items: center;

}
.gif {
	text-align: center;
	margin-left: 25%;
}
section img {
	align-content: right;
}

/* ASIDE */

.foto {
	float: right;
	margin: 6%;
	min-height: 500px;
}
aside{
	align-items: center;
	float: right;
	background-color: rgb(244, 244, 244);
	border-radius: 15px;
}
aside pre {
	width: 500px;
}
aside figcaption {
	margin: 50px;
	width: 300px;
}

.wikipedia {
	text-decoration: none;
	color: black;
}
.wikipedia2 {
	margin-right: 10px;
}

/* PIE DE PÁGINA */

footer {
    margin: 0;
    background-color: rgb(244, 244, 244);
    padding: 3%;
}
footer a {
	margin: 20px;
}



ul li {
	list-style-type: none;
	display: inline-block;
	padding: 35px;
}
ul li h3 {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #D6ECEC;
	text-decoration-thickness: 8px;
	text-decoration-skip-ink: none;
	text-underline-offset: -15px;
}
.titulo {
	text-align: center;
}

/* BOTÓN VOLVER */

.volver {
	position: absolute;
	float: right;
	margin-top: 40px;
	margin-left: 90%;
	float: right;
}